

/* ---------------------------------------------------------*/
/*  below is CSS that is added to EntityPrint module's CSS  */
/* ---------------------------------------------------------*/


h1, h3.node__title {   
    font-size: 25px !important;
    color: #032A5C;
}

h2 {
    margin-bottom: 5px;
    font-size: 20px !important;
    line-height: 1.4;
    font-weight: bold;
    color: #032A5C;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #032A5C;
}

h4 {
    font-weight: bold;
    font-size: 14px;
}


p, div {
    font-size: 12px;
}


.doubleColumn {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
        -moz-column-gap: 30px; /* Firefox */
        column-gap: 30px;
        -webkit-column-break-after: always;
        break-after: always;
    }

.no-break{
        page-break-inside: avoid;
        break-inside: avoid;
        break-inside: avoid-column;
    }

.break-after {
    page-break-after: always;
    break-after: always;
}

.break_after_col {
    -webkit-column-break-after: always;
    break-after: column;
}

.field-content.course-body p {
    margin: 5px 0px;
}

ol.alpha {
    list-style: lower-alpha;
}

/* ---------- table css ------------- */
 
table {
    border-collapse: collapse;
    border: 1px solid #A0A0A0 !important;
    font-size: 12px !important;
}

th, td {
    border: 1px solid #A0A0A0 !important;
    padding: 2px 5px;
}